command = /usr/bin/fish

font-family = "Source Code Pro"
theme = "GitHub Dark"

keybind = super+t=new_tab
keybind = super+k=clear_screen
keybind = super+w=close_surface

keybind = alt+shift+[=previous_tab
keybind = alt+shift+]=next_tab
keybind = ctrl+shift+page_down=move_tab:-1
keybind = ctrl+shift+page_up=move_tab:1

keybind = super+one=goto_tab:1
keybind = super+two=goto_tab:2
keybind = super+three=goto_tab:3
keybind = super+four=goto_tab:4
keybind = super+five=goto_tab:5
keybind = super+six=goto_tab:6
keybind = super+seven=goto_tab:7
keybind = super+eight=goto_tab:8
# use 1000 since it's basically guaranteed to be higher than last tab index
keybind = super+nine=goto_tab:1000
